@import '_variables';/*FIXME delete this*/

body {
  font-family: 'Rubik', sans-serif;
}

.btn {
  border-radius: 20px;
  color: $secondaryTextColor;
}

.btn-primary {
  @extend .btn;
  background-color: $mainBgColor;
}

.container {
  width: 80%;
  margin: auto;
}