@import '_variables';/*FIXME delete this*/

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.btn {
  font-size: 16px;
  border-radius: 5%;
  color: $secondaryTextColor;
  padding: 10px 20px;
}

.btn-primary {
  @extend .btn;
  background-color: $mainBgColor;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 75%;
  margin: auto;
}

%accent-panel {
  background-color: $secondaryBgColor;
  color: $secondaryTextColor;
}