#faqs-box{
  display: flex;

  & i {
  float: right;
  }
}

// #faqs-box,
// .faqs-left,
// .faqs-right {
//   box-sizing: border-box;
// }

.faqs-left,
.faqs-right {
  height: 90%;
  width: 50%;
  box-sizing: border-box;
}

.faqs-left {
  background-color: $faqsLeftBgColor;
  padding: 15px 50px 15px 12.5%;
}

.faqs-right {
  @extend %accent-panel;
  padding: 15px 12.5% 15px 50px;
}

.faq-question {
  
  line-height: 1.3em;
  font-weight: 400;
  padding-bottom: 1.5em;

  & .question {
    font-size: 1.2em;
  }

  & .answer {
    display: none;
  }
}