header {
  @include flex;
  padding: 0 15px;


  & img {
    width: 200px;
  }
}

nav li {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;

  &:not(:last-child) {
    padding: 20px 30px
  }

  &:active {
    border-bottom: 1px solid $mainBgColor;
  }
}