#jumbo {
  @include flex;
  margin-bottom: 80px;
}

.jumbo-left {
  width: 50%;
  & h1 {
    font-weight: 300;
    font-size: 4em;
    text-transform: uppercase;
  }

  & li {
    padding-top: 5px;
  }
}

.jumbo-right {
  width: 50%;
  height: 100%;
  text-align: center;
  

  & img {
    width: 80%;
  }
}

#stats {
  @extend %accent-panel;
  padding-bottom: 20px;/*FIXME why doesn't this get taken into account?*/

  & .container {
    @include flex;
  }

  & .stats-box {
    width: 25%;
    text-align: center;
  
    & p:first-child {
      font-size: 3em;
      font-weight: 400;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    & p:last-child {
      font-size: 20px;
      line-height: 1.2em;
    }
  }
}

.employers-top {
  padding: 10px 0;
  color: $employersLogosColor;
}


.employers-bottom {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px

  & .employer-imgbox {
    width: 33%;

    & img {
      height: 100px;
    }

    &.shift-rx {
      text-align: right;
    }
  }
}
